@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary: #3662E3;
  --primary-rgb: 54, 98, 227;
  --primary-light: #E1E8FB;
  --primary-light-rgb: 225, 232, 251;
}

/* GLOBAL STYLES */

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  width: 21cm;
  height: 29.7cm;

  outline: 1px solid red;
  color: #333;
  background-color: #fff;

  margin: 0;

  display: flex;
}

#content,
#sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 0.25em;

  border-bottom: 3px solid var(--primary);
  color: var(--primary);

  text-transform: uppercase;

  min-width: 75%;
  width: fit-content;
}

#info,
#head,
#main,
#other {
  padding: 1em;
}

.url {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.url::before {
  content: "🔗 ";
  color: var(--primary);
}

.item {
  display: grid;
  grid-template-columns: 1fr auto;

  margin-block: 0.5em 1em;
}

.item * {
  grid-column-start: 1;
  grid-column-end: -1;

  margin-block: 0;
}

.item h3,
.item .issuer,
.item .title,
.item .description,
.item .position {
  margin-block: 0;
  margin-inline: 0;

  grid-column-end: 2;
}

.item .date {
  grid-row-start: 1;
  grid-row-end: 3;

  grid-column-start: 2;
  grid-column-end: -1;
}


/* INFO SECTION */

#info {
  background-color: var(--primary);
  color: #fff;

  grid-row-start: 1;
  grid-row-end: 6;
}

#info img {
  --_size: 175px;
  width: var(--_size);
  height: var(--_size);
  border-radius: 50%;
  display: block;
  border: 5px solid #fff;
  background-color: #fff;
}

#info h1 {
  font-size: 2.6rem;
  line-height: 1;
  margin-inline: 0;
  margin-block: 0.5em 0.25em;
}

#info p {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.7);
  margin-block: 0;
}

#info ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block: 0.5em 0;
}

#info a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* HEADER SECTION */

#head {
  background-color: var(--primary-light);
  grid-column-start: 2;
  grid-column-end: 3;

  padding: 1em;
}

#head p {
  margin-block: 0;
}


/* MAIN SECTION */
#main {
  padding: 1rem;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: -1;
}

#main .summary ul {
  padding-inline-start: 1em;
}

#main .summary ul li {
  margin-block: 0.25em 0;
}

#main .summary ul li::marker {
  content: "•  ";
  color: var(--primary);
  opacity: 0.5;
}



/* OTHER SECTION */
#other {
  flex-grow: 1;
  background-color: var(--primary-light);
  padding: 1rem;
  font-size: 0.9em;
}

#other #languages {
  display: flex;
  flex-direction: row;
}

#other #languages > .item {
  flex-grow: 1;
}

#other #interests > .item {
  display: inline;
}

#other #interests > .item:not(:last-child)::after {
  content: ", ";
}